.contenedor {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.tarjeta {
    width: 120px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
    margin-right: 10px;
     margin-left: 20px;
}


.Tarjeta {
    background-color: beige;
}


table {
    border-collapse: collapse; 
    margin-top: 40px;          
    width: auto;  
    border: none;
    background: transparent;             
}


th, td {
    border: 2px solid black;   
    padding: 15px 25px;        
    text-align: center;
}


tr {
    
    border: none;
    background: transparent;
}

body {
    font-family: Arial, sans-serif;
    padding-left: 30px;
}

