.contenedor {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;

    margin-left: 40px;
    margin-right: 40px;
}


.tarjeta {
    width: 120px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
    margin-right: 15px;

}

.Tarjeta {
    background-color: beige;
}


table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
     
}


