.contenedor {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.tarjeta {
    width: 120px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}

.tarjeta-roja {
    background-color: beige;
}


table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


